.all {
  width: 400px;
  height: 550px;
  background-color: gray;
  border-radius: 10px;
  color: white;
}
.lmp {
  width: 460px;
  height: 300px;
  background-color: #331532;
  border-radius: 10px;
  color: white;
  position: absolute;
  margin-top: 50px;
  margin-left: 100px;
  text-align: start;
}

.u {
  text-decoration: none;
  color: antiquewhite;
  margin: top 20997868756879790px;
  width: 200px;
  margin: auto;
  height: 50px;
  background-color: #363d4b;
  display: block;
  border-radius: 5px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
  border: 2px solid black;
  position: absolute;
  top: 450px;
  margin-left: 100px;
}
.u:hover {
  background-color: gray;
}
.p {
  margin-top: 75px;
justify-content: space-between;
 margin-left: 80px;
  display: flex;
margin-right: 80px;
}
.g {
  margin-top: 20px;
  margin-left: 40px;
}
.i {
  margin-left: 40px;
 height: 40px;
  background-image: url("visa.png");
  width: 130px;
  background-size: cover;
}
.m {
  display: flex;
  margin-right: 30px;
  justify-content: space-between;
  margin-left: 40px;
}
.r {
  text-align: center;
}
.y{
  
}